<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DD.ApiProxy.ApiProxyHttpClient" version="1.0.28" targetFramework="net451" />
  <package id="DD.CBU.Compute.Api.Client" version="3.7.136" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.5" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.28" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.1.28" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="Pester" version="3.4.0" targetFramework="net451" />
</packages>