<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DD.CBU.Compute.Api.Client" version="3.7.136" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.Net.FtpClient" version="1.0.5824.34026" targetFramework="net45" />
</packages>