.loading
{
	opacity: 0;
}

.loaded
{
	opacity: 1;
	-o-transition: opacity 0.2s ease 0s;
	-ms-transition: opacity 0.2s ease 0s; 
	-moz-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s; 
	transition: opacity 0.2s ease 0s;
}
